[submodule "randomWalk/vendor/SFML"]
	path = randomWalk/vendor/SFML
	url = https://github.com/SFML/SFML
	branch = 2.6.x
[submodule "randomWalk/vendor/imgui-sfml"]
	path = randomWalk/vendor/imgui-sfml
	url = https://github.com/SFML/imgui-sfml
	branch = 2.6.x
[submodule "randomWalk/vendor/imgui"]
	path = randomWalk/vendor/imgui
	url = https://github.com/ocornut/imgui
[submodule "randomWalk/vendor/json"]
	path = randomWalk/vendor/json
	url = https://github.com/nlohmann/json
